<section>
  <md-list>
    <md-list-item class="md-2-line">
      <img class="md-avatar" src="images/san-francisco.jpg" />
      <div class="md-list-item-text">
        <h3>I live in Mountain View</h3>
        <p>In sunny California.</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line">
      <img class="md-avatar" src="images/facebook.png" />
      <div class="md-list-item-text">
        <h3>I work at Facebook</h3>
        <p>On the <a href="https://facebook.github.io/react/">React JS</a> core team.</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line">
      <img class="md-avatar" src="images/sound-cloud.png" />
      <div class="md-list-item-text">
        <h3>I enjoy making music</h3>
        <p>You can hear it on my <a href="https://soundcloud.com/brianvaughn">Soundcloud page</a></p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line">
      <img class="md-avatar" src="images/twitter.png" />
      <div class="md-list-item-text">
        <h3>I write about open source software</h3>
        <p>You can follow me on <a href="https://twitter.com/brian_d_vaughn/">Twitter</a></p>
      </div>
    </md-list-item>
  </md-list>

</section>
