<section>
  <h2>Senior Software Egnineer, UI/UX Designer</h2>

  <p>
    I have a passion for software.
    I enjoy creating tools that make life easier for people.
    I take pride in what I create and I strive to exceed expectations.
  </p>

  <p>
    I most commonly work with client applications (desktop and mobile) although I am comfortable with backend technologies as well.
    The languages and technologies I most frequently use include JavaScript and Java.
    I am also very comfortable with version control systems such as GIT as well as project tracking tools such as Jira.
  </p>
</section>

<section>
  <table class="skills">
    <tbody>
      <tr>
        <td>
          Skills
        </td>
        <td>
          <header>Leadership</header>
          <p>
            Strong leadership skills; several years experience leading teams of 5-15 people.
          </p>
        </td>
        <td>
          <header>Software</header>
          <p>
            14 years software experience developing web, mobile, and desktop applications.
          </p>
        </td>
        <td>
          <header>UI/UX</header>
          <p>
            Graphic design major; several years experience in web/digital design.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          Technologies
        </td>
        <td>
          <header>Languages</header>
          <p>
            JavaScript, Ruby, Rails, ActionScript, PHP, HTML, CSS, SQL, Java/JSP, C/C++, Objective C
          </p>
        </td>
        <td>
          <header>Tools</header>
          <p>
            GIT, SVN, CVS, Jira, Jazz, Trac, Mantis
          </p>
        </td>
        <td>
          <header>Other</header>
          <p>
            Eclipse, Flash Builder, Flash Pro, Photoshop, MySQL, Apache, Illustrator
          </p>
        </td>
      </tr>

      <tr>
        <td>
          Education
        </td>
        <td colspan="3">
          <header>
            James Madison University,
            Digital Interactive Media
          </header>
          <p>
            Graduated with honors (Magna cum laude) from the School of Media Arts &amp; Design.
            Received highest department award, Academic Excellence in Digital Media.
            Cumulative GPA of 3.704.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2>Open Source</h2>

  <table>
    <tbody>
      <tr>
        <td>Task Runner</td>
        <td>2015+</td>
        <td>Async utilities for JavaScript application development with a focus on interruptibility and error-handling; <a href="https://http://taskrunnerjs.com">taskrunnerjs.com</a></td>
      </tr>
      <tr>
        <td>Angular formFor</td>
        <td>2014+</td>
        <td>Set of Angular directives to simplify creating and validating HTML forms; <a href="https://bvaughn.github.io/angular-form-for/">bvaughn.github.io/angular-form-for/</a></td>
      </tr>
      <tr>
        <td>Task Manager</td>
        <td>2012 - 2013</td>
        <td>ActionScript library designed to simplify the implementation of asynchronous processes; <a href="https://github.com/bvaughn/TaskManager">github.com/bvaughn/TaskManager</a></td>
      </tr>
      <tr>
        <td>Reflex Unit</td>
        <td>2008</td>
        <td>Automated testing framework for ActionScript 3; <a href="http://code.google.com/p/reflex-unit">code.google.com/p/reflex-unit</a></td>
      </tr>
      <tr>
        <td>Nennius</td>
        <td>2005</td>
        <td>PHP application engine; <a href="http://nennius.sourceforge.net">nennius.sourceforge.net</a></td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2>Work History</h2>

  <table>
    <tbody>
      <tr>
        <td>Google</td>
        <td>2014+</td>
        <td>Software engineer</td>
      </tr>
      <tr>
        <td>Recurly</td>
        <td>2014 - 2014</td>
        <td>Technical lead, Software engineer</td>
      </tr>
      <tr>
        <td>Pickarious</td>
        <td>2013 - 2014</td>
        <td>Lead software engineer, UI/UX designer</td>
      </tr>
      <tr>
        <td>Rosetta Stone Inc</td>
        <td>2005 - 2014</td>
        <td>Software engineer, technical lead, scrum master</td>
      </tr>
      <tr>
        <td>Vital Assets Inc</td>
        <td>2004 - 2005</td>
        <td>Web developer, UI/UX designer (print &amp; web)</td>
      </tr>
      <tr>
        <td>Peridev Solutions</td>
        <td>2004 - 2004</td>
        <td>Web developer, project manager, graphic designer (web &amp; marketing)</td>
      </tr>
      <tr>
        <td>Nexpoint Technologies</td>
        <td>2003 - 2004</td>
        <td>Web hosting sales, graphic designer</td>
      </tr>
      <tr>
        <td>Alternative Graphics</td>
        <td>2002 - 2003</td>
        <td>Graphic designer, sales</td>
      </tr>
      <tr>
        <td>Virtual Resort Solutions</td>
        <td>2001 - 2002</td>
        <td>Graphic designer, content editor</td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2>Google <small>2015+</small></h2>
  <h3>Software Engineer</h3>

  <p>
    I am currently a Software Engineer at Google.
    During my time at Google I have worked on both <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.maps&hl=en">Maps for Android</a> and <a href="https://cloud.google.com/">Google Cloud Platform</a>.
  </p>
</section>

<section>
  <h2>Recurly <small>2014 - 2014</small></h2>
  <h3>Technical Lead</h3>

  <p>
    While at Recurly I lead a small team tasked with rewriting the Recurly front-end (previously in Rails) as a single-page Angular JS application. I created the <a href="http://bvaughn.github.io/angular-form-for/">Angular formFor library</a> while working on this rewrite.
  </p>
</section>

<section>
  <h2>Pickarious <small>2013 - present</small></h2>
  <h3>CTO</h3>

  <p>
    I am a founder and the chief technology officer for Pickarious, a video-based online community focused on helping people buy and sell second hand goods locally.
    I am also the primary user interface designer, responsible for creating and maintaining UI for Pickarious on both the web and mobile devices.
  </p>
</section>

<section>
  <h2>Rosetta Stone Inc <small>2005 - 2014</small></h2>
  <h3>Senior Software Developer, Technical lead</h3>

  <p>During my time at Rosetta Stone I have worked in both the production Software Development department and the research and development department referred to as "Labs".</p>

  <p>While in Labs I was responsible for generating ideas for new Rosetta Stone learning tools. Working in small groups with other Labs employees, I built prototypes of our ideas and participated in user testing them to determine their efficacy. Creating prototypes involved both software development and user interface design. Several of our prototypes later went on to be included in Rosetta Stone's suite of language learning products.</p>

  <p>In my role as a software developer I helped create several desktop, web, and mobile applications currently in the marketplace. Some of the software I have worked on includes:</p>

  <dl>
    <dt>Rosetta Stone Advanced English for Business</dt>
    <dd>Interactive, HTML5 intermediate to advanced English solution for enterprise customers</dd>
    <dt>Rosetta Stone mobile Course</dt>
    <dd>
      Blank slate language learning product for iOS and Android tablets; sold in the US and internationally.
      (Current Google Play rating of <strong>4.7 / 5</strong> stars with nearly 6,000 reviews; current iTunes App Store rating of <strong>4.5 / 5</strong> stars.)
    </dd>
    <dt>Rosetta Stone Course</dt>
    <dd>Blank slate language learning product for desktops and the web; sold in the US and internationally</dd>
    <dt>Rosetta Stone Reflex</dt>
    <dd>Advanced English learning solution sold in Japan and Korea</dd>
    <dt>Rosetta Stone Manager</dt>
    <dd>Classroom management system used by teachers and large businesses to track learner progress and assign custom language learning curricula</dd>
    <dt>Rosetta Stone TOTALe</dt>
    <dd>Online suite of games available to an international community of language learners with a primary focus on practicing and re- enforcing newly acquired language skills</dd>
    <dt>Rosetta Stone version 3</dt>
    <dd>Blank slate language learning product; delivered via CD for installation on Windows and Mac systems.</dd>
  </dl>

  <p>In addition to software development I have also acted as team lead, or "scrum master", for teams of 10-15 software developers and quality assurance analysts. The duties of this role included requirements gathering, short/mid-range project planning and estimation, and daily prioritization of work tasks for team members.</p>

  <div class="page-break"></div>
</section>

<section>
  <h2>Vital Assets Inc <small>2004 - 2005</small></h2>
  <h3>Web Developer, Graphic Designer</h3>

  <p>While at Vital Assets I worked on web applications written in PHP and Java. I also created a PHP framework for rapid development and deployment of CRUD apps which was released on Source Forge as an open source library that I maintained for several years after its release.</p>

  <p>I also designed graphics and created marketing material for the company, ranging from our public website to business cards and brochures. My responsibilities at Vital Assets included:</p>
  <ul>
    <li>Object-Oriented programming for the web (generally Java or PHP).</li>
    <li>Database design and maintenance</li>
    <li>Graphics design</li>
    <li>User documentation</li>
    <li>HTML/CSS creation and maintenance</li>
  </ul>
</section>

<section>
  <h2>Peridev Solutions <small>2004 - 2004</small></h2>
  <h3>Founder, Web Developer, Project Manager</h3>

  <p>Myself and a business partner formed a web design consultancy known as Peridev Solution in early 2004. We were later acquired/absorbed by Nexpoint Technologies and became the for-hire web development branch of that larger hosting company.</p>

  <p>My responsibilities while with Peridev Solutions included:</p>
  <ul>
    <li>Programming (primarily PHP &amp; JavaScript)</li>
    <li>Designing web and banner graphics</li>
    <li>Building HTML &amp; CSS templates</li>
    <li>Marketing services</li>
    <li>Contract acquisition / negotiation</li>
  </ul>
</section>

<section>
  <h2>Nexpoint Technologies <small>2003 - 2004</small></h2>
  <h3>Sales Representative, Graphic Designer</h3>

  <p>My primary role at Nexpoint was a web hosting salesman. I also created banner advertisements and offered first tier customer support.</p>
</section>

<section>
  <h2>Alternative Graphics <small>2002 - 2003</small></h2>
  <h3>Founder, Web Developer, Graphic Designer</h3>

  <p>While in college I worked as a web design consultant for local businesses. My clients included bowling alleys, golf courses, and several student apartment complexes. I managed all marketing/promotional materials as well as contract acquisitions.</p>
</section>

<section>
  <h2>Virtual Resort Solutions <small>2001 - 2002</small></h2>
  <h3>Web Designer, Content Creator</h3>

  <p>Responsibilities included graphic creation for banner and hard-copy advertisements, content for web site and brochures, and HTML programming for website.</p>
</section>
